.proyect_vew {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(---color-background);
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.contenTitleProyects {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.contIcon_proyect {
    width: 70px;
    height: 70px;
}

.txt_proyect {
    text-align: center;
    font-size: 40px;
    font-family: "Varela", sans-serif;
    background: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    cursor: default;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
}

/* styles swiper component */
.contSwiper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.swiper_principal {
    display: flex;
    width: 100%;
    height: 45%;
}

.swipe_slide_conten {
    display: flex;
    width: 100%;
    height: 100%;
}

.conten_card {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #303030;
}

.cont_img {
    background-color: var(---color-background);
    width: 100%;
    height: 100%;
}

.cont_efct_crd {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 95%;
    height: 95%;
    transition: 2s;
}

.lef {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0%;
    height: 50%;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(---color-background);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: 1s ;
}

.rig {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 50%;
    background: var(---color-background);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: 1s ;
}

.cont_efct_crd:hover .lef{
    width: 100%;
    transition: 1s;
}

.cont_efct_crd:hover .rig{
    width: 100%;
    transition: 1s;
}

.cont_efct_crd:hover .text_card{
    color: white;
    transition: 4s;
}

.cont_efct_crd:hover .title_card{
    color: white;
    transition: 4s;
}

.title_card{
    display: block;
    color: transparent;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}

.text_card{
    display: block;
    color: transparent;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    transition: 0.5s;
}

@media screen and (max-width: 480px) {
    .swiper_principal{
        height: 25%;
    }
    .title_card, .text_card {
        font-size: 0.8rem;
    }
}
