.proyect_vew{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(---color-background);
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.contenTitleProyects{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.contIcon_proyect{
    width: 70px;
    height: 70px;
}

.txt_proyect{
    text-align: center;
    font-size: 40px;
    font-family: 'Varela', sans-serif;
    background:linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    cursor: default;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
}


/* styles swiper component */
.contSwiper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.swiper_principal{
    display: flex;
    width: 100%;
    height: 45%;
}

.swipe_slide_conten{
    display: flex;
    width: 100%;
    height: 100%;
}

.conten_card{
    display: flex;
    height: 100%;
    width: 100%; 
    justify-content: center;
    align-items: center;  
    border-radius: 30px;
    background-color: #303030;
}

.cont_img{
    background-color: tomato;
    width: 100%;
    height: 100%;
}

.cont_efct_crd{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    border-radius: 30px;
    transition: 2s;
}

.eft_crd{
    height: 50%;
    background-color: tomato;
    position: absolute;
    transition: 2s;
}

.eft_crd .lef:hover{
    width: 100%;
    transition: 2s;
}

/* .lef{
     width: 0px;
    background-color: tomato;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: 2s;
} */

/* .eft_crd .eft_crd:hover{
    transition: 2s;
    background-color: violet;
    width: 100%;
} */

/* .rig{
    background-color: turquoise;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    right: 0px;
    bottom: 0px;
} */
