.skills{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("./images/skillFondo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.card_data_skill{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    height: 80%;
    background-color: var(--second-background);
    justify-content: center;
}

.card_skill{
    display: flex;
    flex-direction: row;
    width: 45%;
    height: 40px;
    border-radius: 10px;
    background-color: aquamarine;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}
